.filled {
	fill: var(--primary);

	transition: all 0.3s ease-in-out;
}

.star {
	margin-right: 5px;
}

.editable {
	cursor: pointer;
}

.ratingWrapper {
	position: relative;
}

.error svg {
	stroke: var(--red);
}

.errorMessage {
	position: absolute;
	bottom: -20px;
	left: 0;

	text-transform: lowercase;

	color: rgb(162 6 6);

	font-size: 10px;
}
