html,
body {
	margin: 0;
	padding: 0;

	color: var(--black);
	background: #F5F6F8;

	font-family: var(--font-family);
}

a {
	text-decoration: none;

	color: inherit;
}

* {
	box-sizing: border-box;
}

:root {
	--black: #3B434E;
	--white: white;
	--button-ghost: #EBEBEB;
	--primary: #7351F5;
	--primary-hover: #5737D7;
	--red: #FC836D;
	--green: #007B48;
	--green-light: #C8F8E4;
	--gray: #A4A4A4;
	--gray-dark: #6C7077;
	--font-family: "Noto Sans", sans-serif;
}
